{% extends 'posts/base.html' %}


{% block content %}
{% comment %} 
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Log In</title>
	</head> {% endcomment %}
	<body>
		<div class="card">
			<div class="card-header">
				<strong>Log In</strong>
			</div>
		
				<div class="card-body">

					<div class="card-text">
						<form action="{% url 'users:login' %}" method="POST">
							{% csrf_token %}

							<label for="username">Username:</label>
							<input type="text" id="username" name="username">

							<label for="password">Password:</label>
							<input type="password" id="password" name="password">
							
							<input type="submit" value="Log In">
						
							<p>{{ message }}</p>
						</form>
					</div>
				</div>
		</div>
		
	</body>
	</html>
{% endblock %}