{% extends 'posts/base.html' %}


{% block content %}


	<div class="card">
		<div class="card-header bg-dark text-light text-center">
			<strong>LOG IN</strong>
		</div>
			<div class="card-body">

				<div class="card-text">
					<form action="{% url 'users:login' %}" method="POST">
						{% csrf_token %}

						<label for="username">Username:</label>
						<input type="text" id="username" name="username">

						<label for="password">Password:</label>
						<input type="password" id="password" name="password">
						
						<input  type="submit" value="Log In" class="btn btn-secondary">
					
						{% comment %} <p>{{ message }}</p> {% endcomment %}
					</form>
				</div>
			</div>
	</div>
	<br/><br/>
		

{% endblock %}