{% extends 'posts/base.html' %}


{% block content %}
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sign Up</title>
	</head>
	<body>
		<div class="card">
			<div class="card-header">
				<strong>Sign Up</strong>
			</div>
		
				<div class="card-body">

					<div class="card-text">
		
						<form action="{% url 'users:sign_up' %}" method="POST">
							{% csrf_token %}
							
							<div>
								<label for="first_name">First Name:</label>
								<input type="text" id="first_name" name="first_name">
							<div>
							<div>
								<label for="last_name">Last Name:</label>
								<input type="text" id="last_name" name="last_name">
							</div>
							<div>
								<label for="username">Username:</label>
								<input type="text" id="username" name="username"
							</div>

							<div>
								<label for="password1">Enter Password:</label>
								<input type="password" id="password1" name="password1"
							</div>

							<div>
								<label for="password2">Enter Password Again:</label>
								<input type="password" id="password2" name="password2"
							</div>

							<div>
								<input type="submit" value="Sign Up"
							</div>

							<p>{{ message }}</p>
						</form>
					</div>
				</div>
			</div>
		</div>

		
	</body>
	</html>
{% endblock %}