{% extends 'posts/base.html' %}


{% block content %}
    <div class="card text-center border-dark bg-light text-dark">
        <h1>Expeditions</h1>
    </div>
    <br/>
    
        {% for event in event_list %}
            <div class="card border-dark">
                <div class="card-header bg-dark text-light">
                    <strong>{{ event }}</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <li>Date: {{ event.event_date }}</li>
                        <li>Organizer: {{ event.user.first_name }} {{ event.user.last_name }}</li>
                        <li>Climbers:<br/>
                            {% for climber in event.attendees.all %}
                            <ul>{{ climber }}</ul>
                            {% endfor %}
                        </li>
                        <li>Notes: {{ event.description }}</li>
                        
                        {% comment %} <li>Route: {{ event.mountain.route }}</li> {% endcomment %}
                    </p>
                    {% if request.user.is_authenticated %}
                        {% if user == event.user %}
                            <div class="card-footer">
                                <a class="btn btn-outline-primary" href="{% url 'climbs:update-event' event.id  %}">Update</a>
                                <a class="btn btn-outline-danger" href="{% url 'climbs:delete-event' event.id  %}">Delete</a>
                                <a class="btn btn-outline-success" href="#">Join</a>
                                <a class="btn btn-outline-secondary" href="#">Drop</a> 
                            </div>    
                        {% else %}
                            <div class="card-footer">
                                <a class="btn btn-outline-success" href="#">Join</a>
                                <a class="btn btn-outline-secondary" href="#">Drop</a>  
                            </div>
                        {% endif %}
                    {% endif %}  
                </div>
            </div>
            <br/><br/><br/>
        {% endfor %}

{% endblock %}