{% extends 'posts/base.html' %}


{% block content %}

	<center>
		<h1>Hello 
			{% if request.user.is_authenticated %}
			{{ request.user.username }}! Events For {{ month }} {{ year }}
			{% else %}
			Please Log In, or Sign Up To Register
			{% endif %}
		</h1>

		As of {{ time }}
		<br/><br/>
		{{ cal|safe }}
		<br/><br/>
	</center>

	<h3>Events This Month...</h3>

	{% if event_list %}
		{% for event in event_list %}
			<div class="card border-dark">
				<div class="card-header bg-dark text-light">
					<strong>{{ event }}</strong>
				</div>
				<div class="card-body">
					<p class="card-text">
						<li>Date: {{ event.event_date }}</li>
						<li>Organizer: {{ event.user.first_name }} {{ event.user.last_name }}</li>
						<li>Climbers:<br/>
							{% for climber in event.attendees.all %}
							<ul>{{ climber }}</ul>
							{% endfor %}
						</li>
						<li>Notes: {{ event.description }}</li>
					</p>
					{% if request.user.is_authenticated %}
						{% if user == event.user %}
							<div class="card-footer text muted">
								<a class="btn btn-outline-primary" href="{% url 'climbs:update-event' event.id  %}">Update</a>
								<a class="btn btn-outline-danger" href="{% url 'climbs:delete-event' event.id  %}">Delete</a> 
							</div>
						{% endif %}
					{% endif %}  
				</div>
			</div>
			<br/><br/><br/>
		{% endfor %}
	{% else %}
	Sorry...There are no events this month...
	{% endif %}

	<center>
		<br/><br/><br/>
		{{ current_year }}
	</center>
{% endblock %}
