{% extends 'posts/base.html' %}


{% block content %}
<div class="card text-center bg-light text-dark">
    <h1> Mountains & Peaks </h1>
</div>
<br/>
    <div class="accordion" id="accordionExample">
        {% for letter_dict in routes %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{ letter.dict.letter }}">
              <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ letter_dict.letter }}" aria-expanded="true" aria-controls="collapse-{{ letter_dict.letter }}">
                {{ letter_dict.letter }}
              </button>
            </h2>
            <div id="collapse-{{ letter_dict.letter }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ letter_dict.letter }}" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  {% for route in letter_dict.routes %}
                  <div class="card">
                        <div class="card-header bg-dark text-light">
                            <strong><a class="link-light" href="{% url 'climbs:show-mt' route.id %}">{{ route.name }}</a>
                            </strong>
                            -
                            <strong align="right">
                                <a class=" btn btn-outline-primary btn-sm" href="{% url 'climbs:update-mt' route.id  %}">Update</a>
                            </strong>
                            <strong class="text-right">
                                <a class=" btn btn-outline-danger btn-sm" href="{% url 'climbs:delete-mt' route.id  %}">Delete</a>
                            </strong>
                        </div>
                        
                        <div class="card-body">
                            
                            <div class="card-text">
                                
                                <li>Coordinates: {{ route.latitude }}, {{ route.longitude }}</li>
                                <li>State: {{ route.state }}</li>
                                <li>Country: {{ route.country }}</li>
                                <li>Continent: {{ route.continent }}</li>
                                <li>Elevation: {{ route.elevation }} ft</li>
                                <li>Glaciated: {{ route.glaciated }}</li>
                                <li><a href={{ route.google_maps_url }} target="_blank">Map</a></li>
        
                            </div>
                        </div>
                    
                </div>
            
            <br/><br/>    
        {% endfor %}
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
        

    <br/><br/>


    {% comment %} {% for route in route_list %}
        
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <strong>{{ route.name }}</strong>
                </div>

                <div class="card-body">
                    
                    <div class="card-text">
                        
                        <li>Coordinates: {{ route.latitude }}, {{ route.longitude }}</li>
                        <li>State: {{ route.state }}</li>
                        <li>Country: {{ route.country }}</li>
                        <li>Continent: {{ route.continent }}</li>
                        <li>Elevation: {{ route.elevation }} ft</li>
                        <li>Glaciated: {{ route.glaciated }}</li>
                        <li><a href={{ route.google_maps_url }} target="_blank">Map</a></li>

                    </div>
                </div>
            </div>
        
        <br/><br/>       
    {% endfor %} {% endcomment %}
{% endblock %}
