{% extends 'posts/base.html' %}


{% block content %}

{% if searched %}
<div class="card">
    <div class="card-header text-center bg-dark text-light">
        <h1> You Searched for "{{ searched }}"</h1>
    </div>
    <br/>
    <div class="card-body">
            {% for mountain in mountains %}
                <ul>
                    <li><a href="{% url 'climbs:show-mt' mountain.id %}">{{ mountain }}</a></li><br/>
                </ul>
            {% endfor %}
        {% else %}
            <h1>You Did Not Search For A Mountain</h1>
        {% endif %}
    </div>
</div>




{% endblock %}