{% extends 'posts/base.html' %}


{% block content %}

       
        <div class="card">
            <div class="card-header text-center bg-dark text-light">
                    <h1> Expeditions Index</h1>
                {% if searched %} 
                    <h1> You Searched for "{{ searched }}"</h1>
                {% elif no_search != True %}
                        <div class="alert alert-warning alert-dismissible fade show border-dark shadow-lg" role="alert">
                            <strong>No search provided, try again...</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                {% endif %}
                
            </div>
            <br/>
            <div class="card-body">
                <form method=POST action="{% url 'climbs:search-events' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Event Date (YYYY-MM-DD)" aria-label="Search" name="searched">
                    <br/>
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>   
            </div>
        </div>
 
        <br/><br/><br/>
        {% for event in events %}
            <div class="card border-dark">
                <div class="card-header bg-dark text-light">
                    <strong>{{ event }}</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <li>Date: {{ event.event_date }}</li>
                        <li>Organizer: {{ event.user.first_name }} {{ event.user.last_name }}</li>
                        <li>Climbers:<br/>
                            {% for climber in event.attendees.all %}
                            <ul>{{ climber }}</ul>
                            {% endfor %}
                        </li>
                        <li>Notes: {{ event.description }}</li>
                        
                        {% comment %} <li>Route: {{ event.mountain.route }}</li> {% endcomment %}
                    </p>
                    {% if request.user.is_authenticated %}
                        {% if user == event.user %}
                            <div class="card-footer">
                                <a class="btn btn-outline-primary" href="{% url 'climbs:update-event' event.id  %}">Update</a>
                                <a class="btn btn-outline-danger" href="{% url 'climbs:delete-event' event.id  %}">Delete</a>
                                <a class="btn btn-outline-success" href="{% url 'climbs:join-event' event.id %}">Join</a>
                                <a class="btn btn-outline-secondary" href="{% url 'climbs:drop-event' event.id %}">Drop</a> 
                            </div>    
                        {% else %}
                            <div class="card-footer">
                                <a class="btn btn-outline-success" href="{% url 'climbs:join-event' event.id %}">Join</a>
                                <a class="btn btn-outline-secondary" href="{% url 'climbs:drop-event' event.id %}">Drop</a>  
                            </div>
                        {% endif %}
                    {% endif %}  
                </div>
            </div>
            <br/><br/><br/>
        {% endfor %}


{% endblock %}