{% extends 'posts/base.html' %}


{% block content %}
    <div class="card text-center border-dark bg-light text-dark">
        <h1>Update Mountain</h1>
    </div>
    <br/>
    <div class="card">
        <div class="card-header bg-dark text-light">
            <strong>{{ route }}</strong>
        </div>
    
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <input type="submit" value="Update"
                class="btn btn-secondary">
            </form>
            
        </div>
    </div>
   







{% endblock %}